.navbar {
    background:brown;
    margin: 0;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding-left: 0;
    margin-right: 10px;
}

.menu li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}