.navbar {
    background: brown;
    margin: 0;
    padding: 30px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.menu > li {
  position: relative;
}

.menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.menu li:hover > a {
  background-color: tan;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.menu li:hover > .dropdown {
  display: block;
}

.dropdown-sub {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.dropdown li:hover > .dropdown-sub {
  display: block;
}

.menu {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
}
.menu li {
    padding-left: 0;
    margin-right: 10px;
}
.menu li a {
    padding: 10px;
    color:rgb(64, 64, 186);
    text-decoration: none;
    display: inline-block;
}
.buku-best-seller, .majalah-best-seller {
    margin: 50px;
    padding: 50px;
    background-color: brown;
    border-radius: 10px;
}
.buku, .majalah{
    display: flex;
    justify-content: space-around;
}
.bukuku, .majalahku {
    padding: 50px;
    border: 1px solid rgb(99, 99, 231);
    border-radius: 5px;
    background-color: tan;
    text-align: center;
    width: 100px;
}